h1{
    color:white;
    text-align: center;/*center ma kr dy ga*/
    font-family: Arial, Helvetica, sans-serif;/*font style change kr dy ga*/
}
body{
    background-color: lightgreen;
      
}
#clock{
   color:white;
      font-size: 6rem;        /* bada size */
      font-weight: bold;/*text ko mota kr dy ga*/
      letter-spacing: 5px;
      
height: 100%;
  display: flex;/*ikhata kr dy ga*/
  justify-content: center;/*center kr dy ga*/
  align-items: center;/*center kr dy ga*/
   position: absolute;/*fixed rhy gi*/
  top: 50%;/*top ka center my rhy ga*/
  left: 50%;/*horizontal ka center ma rhy ga*/
  transform: translate(-50%, -50%) translateY(-1.5cm);
}
footer {
  position: fixed;
  bottom: 0;/*last ka center ma rhy ga*/
  left: 0;/*horizontal ka center ma rhy ga*/
  width: 100%;
  text-align: center;
  padding: 10px;
  background: darkgreen;
  color:white;
  font-size: 15px;
}
#stopBtn{
 position: absolute;/*fixed rhy gi*/
  top: calc(50% + 2cm);  /* clock ke baad 2cm niche */
  left: 50%;             /* horizontal center */
  transform: translateX(-50%);
  cursor: pointer;
  border: none;/*border khatam kr dy ga*/
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;/*sides gol kr dy ga*/
  padding:10px 20px;
  background-color: green;
  color: white;
  transition: background 0.3s;
}
#stopBtn:hover {
  background-color:lightgreen;
}